<section class="tabla-con-filtro animate__animated animate__fadeIn animate_faster">

  <article class="box animate__animated animate__fadeIn animate_faster">
      <h2>{{ title }}</h2>

        <div class="table-search">
            <div class="input-search">
                <input matInput #inputSearch placeholder="Buscar ..." autocomplete="off" (keyup)="applyFilter($event)">
            </div>
            <button mat-raised-button color="primary">Nuevo</button>
        </div>

        <table mat-table [dataSource]="dataSource" matSort 
                class="animate__animated animate__fadeIn animate__faster">

            <ng-container matColumnDef="nom_form">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let item">{{ item.nom_form }}</td>
            </ng-container>

            <ng-container matColumnDef="cod_form">
                <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                <td mat-cell *matCellDef="let item" class="actions text-center">
                    <i class='bx bx-pencil'></i>
                    <i class='bx bx-trash-alt'></i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron registros</td>
            </tr>
        </table>

  </article>
</section>
